* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Background-Color: #76afc8;
    --Yellow-Color: #fffd9a; 
    --Blue-Text-Color: #213270;
    --Outline-Color: #faa9e6;
    --Orange-Color: #fcae7b;
    --Peach-Color: #FFDE96;
    --Coral-Color: #FA855A;
    --Teal-Color: rgb(12, 0, 99);
    --Light-Blue-Color: #eaf3ff;
    --White: #ffffff;
}

body {
    background-color: rgb(171, 206, 247);
    /*min-height: 100vh;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

}

html {
    width: 100%;
    /*overflow: hidden;*/
}

/* main text */
h1 {
    color: #ffb482;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h2 {
    color: var(--Light-Blue-Color);
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h3 {
    color: var(--Yellow-Color);
    font-family: "Mouse Memoirs", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 30px;
    font-style: italic;
}
h4 {
    color: var(--Coral-Color);
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    font-style: bold;
}

/*fistcontainer*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
    background-color: var(--Teal-Color);
    border-radius: 24px; /* Makes the outer container round */
    box-sizing: border-box;
}

.DisplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--Light-Blue-Color);
    border-radius: 14px; /* Makes the inner container round (slightly smaller radius) */
    box-sizing: border-box;
}

.DisplayContainer h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

/*second container*/
.main-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-wrapper1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
    background-color: var(--Teal-Color);
    border-radius: 24px; /* Makes the outer container round */
    box-sizing: border-box;
}

.DisplayContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--Light-Blue-Color);
    border-radius: 14px; /* Makes the inner container round (slightly smaller radius) */
    box-sizing: border-box;
}

.DisplayContainer1 h1 {
    color: var(--Teal-Color);
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 24px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}