* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Background-Color: #76afc8;
    --Yellow-Color: #fffd9a; 
    --Blue-Text-Color: #213270;
    --Outline-Color: #faa9e6;
    --Orange-Color: #fcae7b;
    --Peach-Color: #FFDE96;
    --Coral-Color: #FA855A;
    --Teal-Color: rgb(12, 0, 99);
    --Light-Blue-Color: #eaf3ff;
    --White: #ffffff;
}

body {
    background-color: rgb(171, 206, 247);
    /*min-height: 100vh;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

html {
    width: 100%;
}

/* main text */
h1 {
    color: var(--Blue-Text-Color);
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h2 {
    color: #a3704e;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h3 {
    color: var(--Yellow-Color);
    font-family: "Mouse Memoirs", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 30px;
    font-style: italic;
}
h4 {
    color: var(--Coral-Color);
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    font-style: bold;
}
h11{
    
}
/*fistcontainer*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.DisplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--Light-Blue-Color);
    border-radius: 14px; 
    box-sizing: border-box;
    border: 4px solid var(--Teal-Color)
}

.DisplayContainer h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

/*second container*/
.DisplayContainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
    background-color: rgb(255, 250, 192);
    border-radius: 14px; 
    box-sizing: border-box;
    border: 4px solid var(--Teal-Color);

    width: 50vw;
    max-width: 600px;

    color: #a3704e;
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    font-size: 20px;
    font-style: bold;
}
.DisplayContainer1 h1 {
    font-size: 24px;
    text-align: center;
    color: var(--Coral-Color);
    align-self: center;
    margin-bottom: 15px;
}

#answerForm div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
  width: 100%;
}

#answerForm label {
  margin-bottom: 5px;  
}

#answerForm input, 
#answerForm textarea {
  font-family: inherit;
  width: 100%;
}

/*load answers*/
.content-wrapper3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 24px;
    background-color: #a3704e;
    border-radius: 24px; 
    box-sizing: border-box;
}
