* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --Background-Color: #76afc8;
    --Yellow-Color: #fffd9a; 
    --Blue-Text-Color: #213270;
    --Outline-Color: #faa9e6;
    --Orange-Color: #fcae7b;
    --Peach-Color: #FFDE96;
    --Coral-Color: #FA855A;
    --Teal-Color: #578088;
    --Light-Blue-Color: #eaf3ff;
    --White: #ffffff;
}

body {
    background-color: rgb(171, 206, 247);
    /*min-height: 100vh;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

}

html {
    width: 100%;
    /*overflow: hidden;*/
}


/* background */
.blur-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    z-index: -1;
    opacity: 0.8;
}

.blob-1 {
    top: -100px;
    right: -100px;
    width: 500px;
    height: 500px;
    background-color: rgb(159, 239, 245);
}

.blob-2 {
    top: 400px;
    left: -200px;
    width: 600px;
    height: 600px;
    background-color: rgb(159, 239, 245);
}

/* main text */
h1 {
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h2 {
    color: var(--Light-Blue-Color);
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size: 70px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}
h3 {
    color: var(--Yellow-Color);
    font-family: "Mouse Memoirs", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 30px;
    font-style: italic;
}
/* containers */
.main-container {
    padding: 60px 80px;
    position: relative;
    z-index: 1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text-block {
    flex: 1;
}

.welcome-group {
    display: inline-flex;
    flex-direction: column;
    padding-left: 24px;
    margin-bottom: 24px;
    position: relative;
}

.left-accent {
    position: absolute;
    left: 0px;
    top: 8px;
    bottom: 8px;
    width: 6px;
}

.welcome-little-text {
    font-family: "Mouse Memoirs", sans-serif;
    color: #fffd9a;
    line-height: 1.1;
    margin: 0;
    padding-left: 24px;
}

/* LOGO */
.icon {
    width: 200px;
}

h4 {
    color: var(--Coral-Color);
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    font-style: bold;
}

