* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Background-Color: #76afc8;
    --Yellow-Color: #fffd9a; 
    --Blue-Text-Color: #213270;
    --Outline-Color: #faa9e6;
    --Orange-Color: #fcae7b;
    --Peach-Color: #FFDE96;
    --Coral-Color: #FA855A;
    --Teal-Color: rgb(12, 0, 99);
    --Light-Blue-Color: #eaf3ff;
    --White: #ffffff;
}

body {
    background-color: rgb(171, 206, 247);
    /*min-height: 100vh;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

html {
    width: 100%;
}

.journal-container {
    max-width: 800px;
    margin: 10px auto 40px auto;
    padding: 0 20px;
    font-family: "Comfortaa", sans-serif;
    /*margin-left: 16%;*/
    /*margin-top: 10px;*/
    display: flex;
    flex-direction: column;

}

.journal-page-title {
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size:55px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}

.journal-card {
    background-color: #f5faff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-event-input {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border-radius: 20px;
    border: 5px solid var(--Yellow-Color);
    padding: 5px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    margin-bottom: 12px;
}

.textarea-wrapper {
    border: 0px solid black;
    background-color: var(--Yellow-Color);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 100%;
}

.journal-text-area {
    width: 100%;
    min-height: 180px;
    max-height: 300px;
    overflow-y: auto;
    outline: none; 
    border: none;
    padding: 8px 4px; 
    font-size: 18px;
    font-family: 'Comfortaa', sans-serif;
    color: black;
    text-align: left;
}


.journal-text-area:empty::before {
    content: attr(placeholder);
    color: rgba(33, 50, 112, 0.5); 
    cursor: text;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face-rating-group {
    display: flex;
    gap: 8px;
}

.smiley-radio {
    cursor: pointer;
}

.smiley-radio-input {
    display: none;
}

.smiley-radio .face {
    font-size: 32px;
    display: inline-block;
    filter: grayscale(100%); 
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.smiley-radio:hover .face, .smiley-radio input:checked + .face {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.15);
}

.submit-btn {
    background: var(--Coral-Color);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: var(--White);
    cursor: pointer;
    font-family: "Bungee", sans-serif;
    transition: color 0.2s;
    padding: 10px 10px;
}

.submit-btn:hover {
    color: var(--Peach-Color);
}