* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Background-Color: #76afc8;
    --Yellow-Color: #fffd9a; 
    --Blue-Text-Color: #213270;
    --Outline-Color: #faa9e6;
    --Orange-Color: #fcae7b;
    --Peach-Color: #FFDE96;
    --Coral-Color: #FA855A;
    --Teal-Color: rgb(12, 0, 99);
    --Light-Blue-Color: #eaf3ff;
    --White: #ffffff;
}

body {
    background-color: rgb(171, 206, 247);
    /*min-height: 100vh;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

html {
    width: 100%;
}

.journal-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: "Comfortaa", sans-serif;
    margin-left: 16%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.journal-page-title {
    color: white;
    font-family: "Bungee", sans-serif;
    font-weight: 200;
    font-size:55px;
    font-style: normal;
    margin: 0;
    line-height: 1.1;
}

.journal-card {
    background-color: var(--White);
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.date-event-input {
    width: 100%;
    border: none;
    font-size: 24px;
    color: #000000;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 12px;
    outline: none;
}

.textarea-wrapper {
    border: 1px solid black;
    background-color: var(--Yellow-Color);
    padding: 16px;
    margin-bottom: 16px;
}

.journal-textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: "Comfortaa", sans-serif;
    color: black;
    resize: none;
    outline: none;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face-rating-group {
    display: flex;
    gap: 8px;
}

.smiley-radio {
    cursor: pointer;
}

.smiley-radio-input {
    display: none;
}

.smiley-radio .face {
    font-size: 32px;
    display: inline-block;
    filter: grayscale(100%); 
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.smiley-radio:hover .face, .smiley-radio input:checked + .face {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.15);
}

.submit-btn {
    background: var(--Coral-Color);
    border: none;
    font-size: 22px;
    cursor: pointer;
    font-family: "Bungee", sans-serif;
    transition: color 0.2s;
    padding: 0;
}

.submit-btn:hover {
    color: var(--Peach-Color);
}