<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--Comfortaa(main font)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forums</title>
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
</head>
<body>
  {% include 'nav.html' %}<!-- nav-->
  <!-- The Answer Container-->
<div class="main-container">
  <div class="heading">
  <h6 class="journal-page-title">Forum</h6>
  <h3> A perfect day means...</h3>
  </div>  
  <div class="DisplayContainer1">
        
        <form method = "POST" id="answerForm" >
            <h1>SHARE YOUR THOUGHTS</h1>
            {% csrf_token %}
            <div>
                <label>Name:</label>
                <input type="text" name="inputname" placeholder="Enter a name/nickname" required>
            </div>
            
            <div>
                <label>Writing Response: </label>
                <textarea name="inputtext" placeholder="Write your thoughts below" contenteditable="true" required></textarea>
            </div>
            
            <button type="submit" class="submit-btn">Submit Your Idea</button>
        </form>

    </div>
</div>

  <!-- Loads the replies -->
  <div class="main-container">
      <div class="DisplayContainer">
        <div id="reviewsDisplayContainer">
            <h1>Others' Entries</h1>
        {% for forum in forums %}
        <div class="forumBox">
          <p>{{forum.text}}</p>
          <p>Posted by: {{forum.author}}</p>
        </div>
        {% endfor %}
      </div>  
  </div>
</body>