<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--fonts-->
<link rel="preconnect" href="https://googleapis.com">
<link rel="preconnect" href="https://gstatic.com" crossorigin>
<link href="https://googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300..700&family=Mouse+Memoirs&family=Spicy+Rice&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daybreak</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
<!-- gradient type background -->
<div class="blur-blob blob-1"></div>
<div class="blur-blob blob-2"></div>

<!-- nav bar -->
{% include 'nav.html' %}

<!-- text main -->
<div class="main-container">
    <div class="welcome-group">
        <span class="left-accent"></span>
        <h1>Welcome to </h1>
        <h2>Daybreak!</h2>
    </div>
    <h3 class="welcome-little-text">Design your dream life, document the journey, and build it together.</h3>
    <div class="day-group">
        <a class="h4" href="{% url 'forum' ID %}">A perfect day means...</a>
    </div>
</div>


<!-- LOGO -->
<div class="container">
    <img src="{% static 'images/logo.png' %}" alt="Website Logo" class="icon">
</div>
</body>
</html>
