<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunbeam</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<!-- nav bar -->
<div class="nav-container">
    <nav class="navbar">
    <ul class="nav-links">
        <li><a href="home.html">Home</a></li>
        <li><a href="#">Planner</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Forum</a></li>

</body>