<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--Comfortaa(main font)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunbeam</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<!-- gradient type background -->
<div class="blur-blob blob-1"></div>
<div class="blur-blob blob-2"></div>

<!-- nav bar -->
{% include 'nav.html' %}

<!-- text main -->

</body>