{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300..700&family=Mouse+Memoirs&family=Spicy+Rice&display=swap" rel="stylesheet">

<div class="nav-container">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'homePage' ID %}">Home</a></li>
            <li><a href="{% url 'todo' ID %}">To-Do List</a></li>
            <li><a href="{% url 'journal' ID %}">Journal</a></li>
            <li><a href="{% url 'forum' ID %}">Forum</a></li>
        </ul>
    </nav>
</div>