<!DOCTYPE html>
<html lang="en">
{% load static %}

<!--Comfortaa(main font)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@300..700&family=Mouse+Memoirs&family=Spicy+Rice&display=swap" rel="stylesheet">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
</head>
<body>
  {% include 'nav.html' %}<!-- nav-->
  <div class="heading">
    <h1>TO DO 📚: </h1>
    <h3>Plan your perfect day. </h3>
  </div>

  <button class= addBtn id = addBtn name = addBtn>+ Add</button>
  
  <div class="main-container" id= "todo-container">
    {% for task in tasks %}
      {% if not task.done %}
      <div class="taskBox">
        <form  method="POST" style="display: flex; flex-direction: row;">
          {% csrf_token %}
          <button type= "submit" class = doneToggle id ="{{task.id}}" name ="taskMarked" value ="{{task.id}}" > </button>
          <p>{{task.text}}</p>
        </form>
      </div>
      {% endif %}
    {% empty %} 
      <p>Nothing here yet!</p>
    {% endfor %}
  </div>
  <h3 style="margin-left: 16%; margin-top: 30px;">You've completed so much today!</h3>
  <div class="main-container" id= "todo-container">
    {% for task in done %}
      {% if task.done %}
      <div class="untaskBox">
        <form  method="POST" style="display: flex; flex-direction: row;">
          {% csrf_token %}
          <button type= "submit" class = unToggle id ="{{task.id}}" name ="unsubmit" value ="{{task.id}}" > </button>
          <p style="text-decoration: line-through;">{{task.text}}</p>
        </form>
      </div>
      {% endif %}
    {% empty %} 
      <p>Nothing here yet!</p>
    {% endfor %}
  </div>
 
  <div class="addModal">
    <div class="modalContent">
      <button type="button" class="close-btn">&times;</button>
      <p style=" color: var(--Blue-Text-Color); font-family: 'Mouse Memoirs', sans-serif; font-weight: 200; font-size: 70px;">
      Add a task</p>

      <form method="POST">
        {% csrf_token %}
        <div class="inputGroup">
          <label>Name of task</label>
          <input class= textInput name= "textInput" type="text" required>
        </div>
        <div class="inputGroup">
          <label>Due Date</label>
          <input class= "dateInput" name="dateInput" type="date" required>
        </div>

        <button type="submit" class = "submitAdd" name = "submitAdd">Save</button>

      </form>
    </div>
  </div>

  <script src="{% static 'js/todo.js' %}" defer></script>

</body>